<!DOCTYPE html>
<%- include("partials/header", { currentPage: 'privacy' })%>

 <!-- About 1 - Bootstrap Brain Component -->
 <section class="py-3 py-md-5">
    <div class="container  d-md-flex d-lg-flex" style="background-color: white;">
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-12 col-xl-12">
          <div class="row justify-content-xl-center ">
            <div class="col-12 col-sm-12 col-xl-11" style="text-align: justify;">
              
              <h2 class="mb-5 mt-4 text-primary">Privacy Policy<span style="float: right;"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-shield-fill-check" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.8 11.8 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7 7 0 0 0 1.048-.625 11.8 11.8 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.54 1.54 0 0 0-1.044-1.263 63 63 0 0 0-2.887-.87C9.843.266 8.69 0 8 0m2.146 5.146a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793z"/>
              </svg> </span></h2>
              <hr style="width: 100px;" color="blue" >
              <p class="lead fs-5 text-black mb-2">At Advanced Tech Labs (ATL), we are committed to safeguarding your personal information. We do not sell, forward, or rent your personal information to any third party for purposes such as marketing without your consent. This privacy policy applies to all services available under the ATL domain names. By using the ATL Site, you signify your acceptance of the ATL Privacy Policy.</p>
              <p class="fs-5 text-primary fw-bold">Information Security</p>
              <p class="mb-2 fs-5">
                ATL takes reasonable steps to protect your personal information from unauthorized access or disclosure. Your personal information is stored on computer systems with limited access, located in controlled facilities. We protect highly confidential information through encryption when it is transmitted.</p>
                <p class="fs-5 fw-bold text-primary">Providing Personal Information</p>
                <p class="mb-2 fs-5">
                  You may choose whether or not to provide personal information to ATL. If you choose not to provide personal information, you may be unable to access certain options, offers, and services that involve our interaction with you. If you choose to have a relationship with ATL, we will continue to contact you in connection with that business relationship.</p>
                  <p class="fs-5 fw-bold text-primary">Collection and Use of Personal Information</p>
                <p class="mb-2 fs-5">
                  When ATL collects your personal information on the Site, we will explain why it is being collected and whether we plan to share it outside of ATL or with those working on our behalf. Unless legally required, ATL will not transfer your personal information to third parties without your permission.</p>
                  <p class="fs-5 fw-bold text-primary">Accuracy and Updating Personal Information</p>
                  <p class="mb-2 fs-5">
                    If you provide personal information, ATL will maintain its accuracy and allow you to update or correct it whenever needed. Our aim is to provide you with a means of contacting ATL to update or correct your personal information.</p>
                    <p class="fs-5 fw-bold text-primary">Confidentiality and Internal Use</p>
                    <p class="mb-2 fs-5">
                      Your personal information will be kept confidential and used for our research, marketing, strategic client analysis, and other internal business purposes. While we do not sell or rent personal information, it may be shared with our business partners/franchisees, and you shall be deemed to have given consent for such sharing. We will share personal information only when compelled by law (including court orders).</p>
                      <p class="fs-5 fw-bold text-primary">Consent</p>
                      <p class="mb-2 fs-5">
                        By using the Site, you consent to the terms of ATL’s Privacy Policy and the processing of personal information for the purposes mentioned above. When your personal information is needed, ATL will generally inform you at the time of collection how it will be used. The personal information collected by ATL is primarily used to respond to your inquiries, process orders, or allow you to access specific services. You will have the opportunity to limit access to your information. If ATL does not receive any response from you to limit the access to your information, it shall be deemed that you consent to the distribution of your personal information as outlined above.</p>
             
                        <p class="fs-5 fw-bold text-primary">Policy Changes</p>
                        <p class="mb-2 fs-5">
                          Please note that this Privacy Policy may change from time to time without notice at the sole discretion of ATL. If you have any questions about the ATL Privacy Policy, the collection, use, or disclosure of your personal information, please email us at <a href="mailto:maacrohtak@gmail.com">maacrohtak@gmail.com.</a></p>
                          <p class="mb-2 fs-5">Thank you for trusting Advanced Tech Labs with your personal information.</p>
                  </div>
                  </div>
                  </div>
  
          </div>
        </div>
      </div>
    </div>
  </section>
      
   

  <%- include("partials/whatsapp") %>

  <%- include("partials/footer", { currentPage: 'privacy' }) %>
  <script src="/js/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
